## Libraries for Cleaning & Exploration

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns', None) # Max columns
plt.rcParams["figure.figsize"] = (16,9) #changes figure size

## Read file

In [ ]:
#Read CSV
data = pd.read_csv("data.csv")

In [ ]:
#Read XLSX
data = pd.read_excel('data.xlsx', engine='openpyxl')

data = pd.read_excel('data.xlsx', sheet_name=1)

In [ ]:
#Show head
data.head

In [ ]:
#Check shape
data.shape

In [ ]:
#Show all columns
display(data.columns)

## Snakecase & Lowercase

In [ ]:
columns = data.columns
new_columns = []

for item in columns:
    col = item.replace(' ', '_').lower()
    new_columns.append(col)

In [ ]:
#Lowercase only
columns = []
for i in data.columns:
    columns.append(i.lower())
data.columns = columns

## Standardizing headings

In [ ]:
# Example - Replacing one column name 
'Net proceeds  (£) (Gross less VAT and costs)'.lower().replace(' (£) ', '').replace(' ', '_')

In [ ]:
# Example loop = Standardizing column headings, replacing symbols, turning into snakecase and lowercase
new_columns = []
for col in data.columns:
    new_columns.append(col.lower().replace(' (£)', '').replace(' ', '_'))

In [ ]:
# Example of renaming columns manually

data.columns = ['year', 
                 'company_name', 
                 'reporting_on_a_mandatory_basis', 
                 'number_of_single_use_plastic_bags_issued', 
                 'gross_proceeds_of_charge', 
                 'vat', 
                 'costs_deducted', 
                 'cost_of_changing_till_systems',
                 'cost_of_staff_communications',
                 'cost_of_customer_communications',
                 'cost_of_obtaining_advice_on_charge',
                 'cost_of_administering_donations',
                 'other_costs_associated_with_implementing_charge',
                 'description_of_other_costs',
                 'net_proceeds',
                 'use_of_net_proceeds',
                 'other_use_of_net_proceeds',
                 'amount_donated_to_good_causes',
                 'good_causes_in_receipt_of_proceed_donation',
                 'number_of_paper_bags_issued',
                 'number_of_bags_for_life_issued',
                 'number_of_fabric_bags_issued',
                 'number_of_other_bags_issued',
                 'any_other_information']

## Changing element to upper

In [ ]:
data['company_name'] = data['company_name'].apply(str.upper)

## Percentage of nulls

In [ ]:
pd.DataFrame((data.isna().sum() / len(data)) * 100)

## Value counts (includes nan)

In [ ]:
data['column_name'].value_counts(dropna=False) #Column including nan

In [ ]:
#For all columns
for col in data:
    print(f'values for {col}')
    print(data[col].value_counts())
    print(' ')

In [ ]:
dict(data['company_name'].value_counts()) #For each element in column

## Dealing with Nans

In [ ]:
data.isna().sum() #counting nans

In [ ]:
data = data[data['State'].isna() == False] #Dropping nans in column

In [ ]:
data['old_element'].fillna("new_element", inplace = True) #filling with new_element

In [ ]:
data['refill liters'].fillna(0, inplace = True) #filling element with 0

In [ ]:
data['Composure'] = data['Composure'].fillna(data['Composure'].mean()) #filling with mean

In [ ]:
data['Attacking Workrate'] = data['Attacking Workrate'].fillna(data['Attacking Workrate'].median()).astype('int') #filling with medium

In [ ]:
data['Native Country'] = data['Native Country'].fillna(data['Native Country'].mode()[0] #Only use if nan is not the mode

## Dropping

In [ ]:
data = data.drop(['Unnamed: 0'], axis=1) #Dropping unnamed

In [ ]:
data.dropna(inplace=True) #dropping rows with nans

In [ ]:
data.drop('ID', axis= 1, inplace = True) #dropping column

In [ ]:
coltoremove = data.columns[-30:-2] #removing columns using index

for columns in coltoremove:
        data.drop(columns, axis= 1, inplace= True) #loop for removing columns

## Creating a new column and filling with values

In [ ]:
data['price']= np.where(data['gas_type']=='SP98', 1.459, 1.379) #Only works for two choices

## Replacing

In [ ]:
data['Attacking Workrate'] = data['Attacking Workrate'].str.replace("High", '3') #Replacing High with 3

In [ ]:
data['Weak foot'] = data['Weak foot'].str.rstrip('★').astype('int') #removing star changing to int

In [ ]:
#Replacing with health and charity/voluntary
data['good_causes_in_receipt_of_proceed_donation'].replace(
    '£3,035,786 - university college london national dementia research centre ; £3,871,156  - asda foundation ',
    'health, charity/voluntary', inplace=True)

In [ ]:
#changing height into inches
def change_height(ht):
        ftin = ht.split("'")
        feet = int(ftin[0])
        inches = float(ftin[1].split('"')[0])
        return (12*feet) + inches

In [ ]:
#Applying height and inch function
data['Height'] = data['Height'].apply(lambda x: change_height(x))
data['Weight'] = data['Weight'].apply(lambda x: x.replace('lbs', '')).astype('int')

## Dealing with datatypes

In [ ]:
data.dtypes

In [ ]:
data.info()

In [ ]:
# Changing the column to datetime using the pd.to_datetime function
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

In [ ]:
# Extracting month by using the dt method (dt is short for datetime)
data['Effective To Date Month'] = data['Effective To Date'].dt.month

In [ ]:
#The isin function checks whether the columns values are contained in the list
data[data['Effective To Date Month'].isin([1, 2, 3])]

In [ ]:
#Changing datetime to year
data['Joined'] = pd.to_datetime(data['Joined']).dt.year

In [ ]:
#Storing Int and Float into numeric DF
numeric = data.select_dtypes(['int','float'])

In [ ]:
#Checking count can tell us if its discrete
numeric.nunique()

In [ ]:
#Changing to numeric
data['Wage'] = pd.to_numeric(data['Wage'])

In [ ]:
#numerical data in dataframe
numerical = data._get_numeric_data()

In [ ]:
#Storing objects as categorical
categoricals = data.select_dtypes('object')

## Function to check rows

In [ ]:
def charity_checker(row):
    if 'charity/voluntary' in row:
        return 1
    elif 'charity/volunteering' in row:
        return 1
    else:
        return 0
    
#Making a new column in donations DF for charity/voluntary applying above function
donations['charity/voluntary'] = donations['good_causes_in_receipt_of_proceed_donation'].apply(charity_checker)

## Concating DFs

In [ ]:
#Concat data and assign it back to data
data = pd.concat([dataframe1, dataframe2], axis=1)

## Descriptive Statistics

In [ ]:
data.describe().T

## Making Dataframes

In [ ]:
discrete = data[['months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies']]
continuous = data[['customer_lifetime_value', 'income', 'monthly_premium_auto', 'total_claim_amount' ]]

## Binning

In [ ]:
def c_bins(row):
    if row < 272:
        return ' < 25%' #Bin 1
    elif row < 383:
        return '25%-50%' #Bin 2
    elif row < 548:
        return '50%-75%' #Bin 3
    else:
        return '> 75%' #Bin 4

# Go and get every row of column and apply the bins() function to every row
data['claim bin'] = data['total claim amount'].apply(lambda row: c_bins(row))

## Storing data in MySql Database

In [ ]:
#Store password locally
password = getpass()

In [ ]:
#Create a database manually on MySQL first.
#Creating a connection string and putting data in plastic_data database on MySQL. 

connection_string = 'mysql+pymysql://root:'+password+'@localhost/plastic'  
engine = create_engine(connection_string)
data.to_sql(con=engine, name='plastic_data', if_exists = 'replace')

In [ ]:
#Querying to get data back from MySQL
query='''SELECT * FROM plastic_data'''
data = pd.read_sql_query(query, engine, index_col='index')
data

## Plots & Pivot Tables

In [ ]:
#Groupby sum
grouped_data = data[['refill gas', 'refill liters']].groupby('refill gas').sum()

In [ ]:
#dropping element/sub-category and then plotting
grouped_data.drop('no refills', axis=0).plot(kind='bar')

In [ ]:
#Groupby mean
grouped_data_ac = data[['AC', 'consume','speed', 'temp_inside', 'temp_outside', 'distance']].groupby('AC').mean()

In [ ]:
#Plotting bar plot (plt)
data[['specials', 'consume']].groupby('specials').sum().plot(kind='bar')

In [ ]:
#Plotting countplot (sns)
sns.countplot(x=data["response"],data=data)

In [ ]:
#Groupby mean and bar plot
data[['year', 'number_of_single_use_plastic_bags_issued']].groupby('year').mean().plot(kind='bar')

In [ ]:
# The barplot feature is showing mean values of response rate for each sales channel
sns.barplot(y=data["response_rate"], x=data["sales channel"],data=data)

In [ ]:
#Plotting distance/consume
pd.DataFrame(grouped_data_gas['distance'] / grouped_data_gas['consume']).plot(kind='bar')

In [ ]:
#Histogram where column = element vs consume
data[data['gas_type'] == 'E10']['consume'].hist()

In [ ]:
#Loop to check distribution using Seaborn
for cat in numerical:
    sns.displot(numerical, x= cat)

In [ ]:
#Loop to check distribution using Matplotlib
for cat in numerical:                     
    plt.hist(numerical[cat])
    plt.show()

In [ ]:
#Loop to plot year vs all 8 categories 

for col in ['charity/voluntary', 'local_causes', 'health', 'arts_heritage', 'sports', 'education', 'environment', 'unknown']:
    print(col)
    data.groupby('year').sum()[col].plot(kind='bar')
    plt.show()